.featured-post {
    background: #F6F7F9;
}
.card {
    display: flex;
    flex-direction: column-reverse;
    width: 33.33%;
    transition: 0.6s;
    text-align: center;
    background-color: #fff;
}
.card-img {
    height: 440px;
    padding-right: 75%;
    overflow: hidden;
    position: relative;
    background-color: #E40015;
}
.crop {
    position: absolute;
}
.crop-btm {
    bottom: -8%;
    width: 100%;
    right: 0;
}
.crop-right {
    height: 100%;
    bottom: 0;
    right: 0;
}
.crop-left {
    height: 121%;
    bottom: 0;
}
@media (max-width: 520px) {
    .crop-btm {
        height: 150%;
        width: auto;
    }
}
@media (min-width: 1023px) and (max-width: 1240px) {
    .crop-btm {
        width: auto;
        height: 120%;
    }
    .crop-right {
        right: -23%;
    }
    .crop-left {
        left: -15%;
    }
}
.card-body {
    padding: 2.5em 2.5em 0;
}
h2.card-title {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.date {
    font-size: 1rem;
    padding-top: 0;
}
.card-text {
    text-align: left;
}
.read-more {
    display: block;
    text-transform: uppercase;
    color: #E40015;
    font-weight: 700;
    padding: 0.5em 0 2em;
}
.card-hover {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    z-index: 99;
    text-transform: uppercase;
    font-size: 2rem;;
    font-weight: 700;
    color: #fff;
}
.read-more:hover ~ .card-img img,
.read-more:focus ~ .card-img img {
    opacity: 0.25;
    transition: opacity ease-in-out 0.25s;
}
.read-more:hover ~ .card-img > .card-hover,
.read-more:focus ~ .card-img > .card-hover {
    transition: ease-out 0.4s;
    transform: translate(-50%) scaleY(1);
    top: 50%;
}
.slideshow {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 10em;
}
.slide-container {
    position: relative;
    margin: 0 auto;
    width: 90vw;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;  
}
.scroll-container {
    width: 300%;
    display: flex;
}
.scroll-container > div {
    scroll-snap-align: start;
}
.scroll-nav, .slide-nav {
    display: none;
}
.slide-nav-sm {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 10px;
    text-align: center;
    z-index: 99;
}
.dot-nav {
    width: 10px;
    height: 10px;
    margin: 0 3px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    cursor: pointer;
    transition: 0.6s;
}
.dot-nav:hover,
.dot-nav:focus {
    background-color: #E40015;
    transition: 0.4s;
}    
#slide1, #slide2, #slide3 {
    position: absolute;
    visibility: hidden;
}
#slide1:checked ~ .slide-container > .scroll-container > #post1 {
    margin-left: 0;
}
#slide2:checked ~ .slide-container > .scroll-container > #post1 {
    margin-left: -33.33%;
}
#slide3:checked ~ .slide-container > .scroll-container > #post1 {
    margin-left: -66.67%;
}
@media (min-width: 479px) {
    h1 {
        font-size: 2rem;
    }
    h2.card-title {
        font-size: 2rem;
    }
    .slide-container {
        width: 70vw;
        overflow-x: hidden;    
    }
    .scroll-nav {
        display: initial;
        position: absolute;
        width: 5%;
        background-color: rgba(68, 68, 68, 0.5);
        color: #000;
        border-radius: 100%;
        text-align: center;
    }
    .rght-nav { right: 3%; }
    .left-nav { left: 3%; }
    .fa-chevron-left, .fa-chevron-right {
        padding: 30% 0;
    }
    .arrow1:hover, .arrow2:hover, .arrow3:hover, 
    .arrow1:focus, .arrow2:focus, .arrow3:focus {
        color: #E40015;
    }
    .slide-nav-sm {
        display: none;
    }
    .slide-nav {
        display: initial;
        position: absolute;
        top: 10px;
        width: 100%;
        height: 10px;
        text-align: center;
        z-index: 99;
    }
    .dot-nav:hover,
    .dot-nav:focus {
        background-color: rgba(255, 255, 255, 0.8);
        transition: 0.2s;
    }    
    #slide1:checked ~ .scroll-nav > .arrow2,
    #slide1:checked ~ .scroll-nav > .arrow3 {
        display: none;
    }
    #slide2:checked ~ .scroll-nav > .arrow1,
    #slide2:checked ~ .scroll-nav > .arrow3 {
        display: none;
    }
    #slide3:checked ~ .scroll-nav > .arrow1,
    #slide3:checked ~ .scroll-nav > .arrow2 {
        display: none;
    }
    #slide1:checked ~ .slide-container > .slide-nav #dot1,
    #slide2:checked ~ .slide-container > .slide-nav #dot2,
    #slide3:checked ~ .slide-container > .slide-nav #dot3 {
        background-color: #E40015;
    }    
}
@media (min-width: 1023px) {
    #slide1, #slide2, #slide3, .scroll-nav, .slide-nav {
        display: none;    
    }  
    .slideshow {
        display: block;
    }  
    .slide-container {
        width: 90vw;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .scroll-container {
        width: 100%;
        max-width: 1600px;
        justify-content: space-between;
        margin: 0;
    }
    .card {
        max-width: 500px;
        margin: 0 1%;
        transition: none;
    }
    h2.card-title {
        font-size: 2.2rem;
    }
    .card-text, .read-more {
        font-size: 1.4rem;
    }
}